*{
margin:0;
padding:0;
}

body, html{height:100%;} {
  background-attachment: #ecf0f1;
}

nav {
  background-color: white !important;
  position: absolute;
}

nav div {
  color: #3A3A3A;
}

main{
height:100vh;
/*border: 1px solid red;*/
margin-bottom: -30px;
position:relative;
}

p {
  margin-bottom: 0 !important;
}

.smaller-image {
  width : 25%;
}

.thumbnail {
  text-align : center;
  margin : 0% 10% 0% 10%;
  padding-top: 20%;
}

.img-responsive .centree {
  margin: 0 auto;
}

.jumbotron {
  padding-top: 9% !important;
  color: white !important;
  background-color: white !important;
}

.form-group {
  margin : 0% 25% 0% 25%;
  padding-top: 3%;
}

/*.boutons btn {
  color: #8F8F8F !important;
}*/

.form-group input {
  box-shadow: 0px 2px 2px #c1baba;
}

/* footer : infos prises sur le site http://www.cefii.fr/blog/18-blog-cefii/d%C3%A9veloppement/50-astuce-html-css-fixer-footer-bas-page.html*/
footer {
  background: #F2F2F2;
  border: 1 px solid grey
  position: absolute;
  heigth:30px; // on définit une taille en px
  max-height: 30px; // pas plius
  overflow: hidden; //cacher ce qui dépasse
  width: 100%;
}

footer {
  display: flex !important;
  flex-direction: row;
  align-content: space-around;
  /*justify-content: space-around;*/
}

footer p {
  color: #8F8F8F;
}
